
.mass-letter-finish-date {
    margin: 0 auto;
    border: 1px solid #444654;
    border-radius: 5px;
    padding: 10px;
    background-color: #ddd;
}

.mass-letter-finish-date-text {
    color: #444654;
    font-size: 16px;
}
